@charset "utf-8";
/* CSS Document */

/* ---------------------------------------------------------------------------------------- 
	基本
---------------------------------------------------------------------------------------- */
html {
  font-size: 16px;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
	font-feature-settings: "palt";
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 1rem;
	overflow-x: visible !important;
}
@media (max-width: 767px) {
	body {
		font-size: .875rem;
	}
}
#wrapper {
	overflow: hidden;
}
@media (min-width: 768px) {
	a[href^="tel:"] {
		pointer-events: none;
		color: unset;
	}
}

/* -------------------------------------
 * 共通
 * ---------------------------------- */
/* スマホの行間と段落後 */
p,
ul,
ol,
table {
	margin-bottom: 20px;
	line-height: 1.8;
}
a:focus, a:hover {
	text-decoration: none;
}
#header p {
	margin-bottom: 0;
}
/* セル内等での最後の段落後の余白なし */
th > p:last-child,
th > ul:last-child,
th > ol:last-child,
td > p:last-child,
td > ul:last-child,
td > ol:last-child,
dd > p:last-child,
dd > ul:last-child,
dd > ol:last-child {
	margin-bottom: 0;
}
/* -------------------------------------
 * 見出し
 * ---------------------------------- */
h1 {
	position: relative;
	display: table;
	font-size: 1.75rem;
	margin: 70px auto 40px;
	padding: 10px;
	width: auto;
}
#contents h1:before {
	content: '';
	width: 3.5em;
	height: 3.5em;
	position: absolute;
	z-index: -1;
	display: block;
	top: -1.5em;
	left:-1em;
	border-radius: 50%;
	opacity: 0.1;
}
h2 {
	position: relative;
	display: table;
	width: auto;
	font-size: 1.625rem;
	margin: 45px auto 40px;
	text-align: center;
}
#contents h2:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	display: block;
	bottom: -5px;
	left: calc(50% - 2em);
	border-style: solid;
	border-width: 0px 0 2.5em 1.5em;
	transform: rotate(30deg); 
	opacity: 0.1;
}
.top #side h2,
.top #right h2 {
	font-weight: bold;
	text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff;
}


h3 {
	position: relative;
	display: table;
	width: auto;
	font-size: 1.5rem;
	margin: 0 auto 30px;
	font-weight: bold;
}
h3:before {
	content: '';
	width: 2em;
	height: 0;
	position: absolute;
	display: block;
	bottom: -5px;
	left: 0;
	border-bottom: dashed 3px;
}
h4 {
	display: inline-block;
	padding: 8px 15px;
	font-size: 1.25rem;
	margin-bottom: 25px;
}
h5 {
	font-size: 1.25rem;
	margin-bottom: 20px;
	border-bottom: 1px dashed;
}
h6 {
	font-size: 1.125rem;
	margin-bottom: 20px;
}
/* スマホ以外 */
@media (min-width: 768px) {
	h1 {
		font-size: 2.125rem;
		margin-top: 75px;
	}
	h2 {
		font-size: 2rem;
		margin-top: 60px;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1.5rem;
		padding: 8px 20px;
	}
	h5 {
		font-size: 1.375rem;
	}
}
/* -------------------------------------
 * リスト
 * ---------------------------------- */
ul {
	padding: 0;
}
ul li {
	position: relative;
	list-style-type: none;
	padding-left: 10px;
}
ul li:before {
	position: absolute;
	display: inline-block;
	content: "";
	top: 10px;
	left: 0;
	width: 8px;
	height: 8px;
	border: 2px solid;
	border-radius: 50%;
}
#cms_control_panel_inner ul > li:before {
  display: none;
}
ol {
	padding-left: 2rem;
}
/* -------------------------------------
 * 表組
 * ---------------------------------- */
table {
	word-break: break-all;
}
table th a:active,
table th a:focus,
table th a:hover {
	color: #ddd;
}
table th,
table td {
}
caption {
	text-align: center;
}
/* ---------------------------------------------------------------------------------------- 
	CMS layout
---------------------------------------------------------------------------------------- */

/* -------------------------------------
 * 共通
 * ---------------------------------- */
.box {
	margin-bottom: 25px;
}
#header .box {
	margin-bottom: 0;
}
/* スマホ以外 */
@media (min-width: 768px) {
	#upper .box,
	#bottom .box {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#upper .box .box,
	#bottom .box .box {
		margin-top: 0;
		margin-bottom: 25px;
	}	
}

/* -------------------------------------
 * メニュー
 * ---------------------------------- */

/* HEADER
--------------------------------------*/
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	margin-bottom: 0;
	border: none;
	background-color: transparent;
	z-index: 10001;
}
.navbar-toggle {
	display: block;
	z-index: 1;
	padding: 0 12px;
	border-radius: 50%;
	position: relative;
	width: 52px;
	height: 52px;
	margin: 3px 5px 3px 10px;
}
.navbar-toggle .icon-bar {
	width: 26px;
	height: 2px;
	border-radius: 0px;
	margin-top: -8px
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 5px;
}
.navbar-toggle .char {
	font-size: .5rem;
	display: block;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 52px;
}
.navbar-default .navbar-collapse {
	position: fixed;
	top: 0;
	right: -100%;
	width: auto;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.navbar-default .navbar-collapse.in {
	overflow-y: auto !important;
	overflow-x: hidden !important;
	top: 0;
	right: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
#header .navbar-collapse > ul.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 70px;
}
#header .navbar-nav li:before {
	display: none;
}
#header .navbar-collapse > .navbar-nav > li {
	float: none;
	text-align: left;
	font-size: 1.125rem;
	padding: 0;
	margin: 0;
	border: none;
}
#header .navbar-nav > li a,
#header .navbar-nav > li div {
	padding: 10px 10px 20px 10px;
}
#header nav a > span,
#header nav div > span {
  display: block;
  font-size: .75rem;
  opacity: .6;
  margin-top: 5px;
}
#header .navbar-collapse > .navbar-nav > li > a,

#header .navbar-collapse > .navbar-nav > li > div {
	border-radius: 0px 0px 50% 50%;
	border-bottom: 1px dashed;
	text-align: center;
	margin-bottom: 15px;
}
#header .navbar-nav > li a.imgNavi {
	padding: 0 0 15px;
}
#header .navbar-collapse > .navbar-nav .navbar-nav {
	float: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
	margin: 0;
}
#header .navbar-collapse > .navbar-nav .navbar-nav > li {
	float: none;
	width: 50%;
	font-size: .875rem;
}
#header .navbar-collapse > .navbar-nav .navbar-nav > li:before {
	border-left-color: #fff;
}
#header .navbar-collapse > .navbar-nav .navbar-nav > li a {
	padding: 5px 10px;
}
#header .navbar-collapse > .navbar-nav .navbar-nav > li a.imgNavi {
	padding: 0;
}
#header .navbar-collapse > .navbar-nav .navbar-nav .navbar-nav {
	display: none;
}
/* スマホ */
@media (max-width: 767px) {
	.navbar-default .navbar-collapse {
		width: 100vw;
		height: 100% !important;
	}

	/* 追加記述 */
	#header .navbar-collapse > .navbar-nav .navbar-nav .navbar-nav {
		display: block;
		margin: 10px;
		padding: 10px;
		border-width: 1px;
		border-style: dashed;
		border-radius: 4px;
	}
	
	#header .navbar-collapse > .navbar-nav .navbar-nav .navbar-nav > li {
		width: 100%;
	}
	
}
/* スマホ以外 */
@media (min-width: 768px) {
	.navbar {
		position: static;
	}
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: none;
	}
	.navbar-default .navbar-collapse {
		position: static;
		padding: 0;
	}
	#header .navbar-collapse > ul.navbar-nav {
		display: flex;
		flex-wrap: wrap;
		padding-top: 0;
		justify-content: center;
		float: none;
	}
	#header .navbar-collapse > .navbar-nav > li > a,
	#header .navbar-collapse > .navbar-nav > li > div {
		border-radius: 0;
		border-bottom: none;
		padding: 10px 10px 10px 25px;
	}
	#header .navbar-collapse > .navbar-nav > li > a:after,
	#header .navbar-collapse > .navbar-nav > li > div:after {
		position: absolute;
		content: "";
		display: block;
		width: 2em;
		height: calc(100% - 10px);
		top: 0px;
		left: 10px;
		border: solid 1px transparent;
		border-left: solid 2px;
		border-bottom-width: 0;
		border-radius: 50px 0 0 0;
		pointer-events: none;
	}
	#header .navbar-collapse > .navbar-nav > li > a.menu-selected:before,
	#header .navbar-collapse > .navbar-nav > li > div.menu-selected:before {
		position: absolute;
		content: "";
		display: block;
		width: calc(100% - 30px);
		height: 3px;
		bottom: 10px;
		left: 20px;
		border-radius: 5px;
	}
	
	/* 追加記述 */
	.navbar-nav > li > div {
		line-height: 20px;
	}
	
	#header .menu-level-0 {
		position: relative;
	}
	
	#header .navbar-collapse > .navbar-nav .menu-level-0 > .navbar-nav {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10000;
		display: block;
		height: 0;
		margin: 0;
		padding: 0;
	}
	
	#header .navbar-collapse > .navbar-nav > li > div {
		position: relative;
	}
	
	#header .navbar-collapse > .navbar-nav .menu-level-0:last-child > .navbar-nav {
		left: auto;
		right: 0;
	}
	
	#header .navbar-collapse > .navbar-nav .menu-level-0:hover > ul > li {
		height: auto;
		visibility: visible;
		opacity: 1;
	}
	
	#header .navbar-collapse > .navbar-nav .navbar-nav > li {
		overflow: hidden;
		width: 100%;
		height: 0;
		padding: 0;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all .5s;
		transition: all .5s;
	}
	
	#header .navbar-collapse > .navbar-nav .navbar-nav > li > a {
		display: block;
		margin: 0 0 1px;
		padding: 12px;
		white-space: nowrap;
		line-height: 1.2;
		-webkit-transition: all .5s;
		transition: all .5s;
	}
	
	#header .navbar-collapse > .navbar-nav .navbar-nav .navbar-nav {
		display: none;
	}
	
}

/* UPPER
--------------------------------------*/
.upperNavi {
	margin-bottom: 50px;
}
.upperNavi ul {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.upperNavi li {
	list-style-type: none !important;
	padding: 0;
	margin-bottom: 10px;
}
body.column1 .upperNavi li:before,
body.column2 .upperNavi li:before {
	display: none;
}
.upperNavi li a,
.upperNavi li div {
	display: block;
	padding: 10px 15px;
	height: 100%;
	position: relative;
	margin: 0 10px 0;
}
.upperNavi li a::before,
.upperNavi li div::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: skew(-15deg);
	border: 1px solid;
}
/* スマホのみ */
@media (max-width: 767px) {
	.upperNavi ul {
		justify-content: center;
	}
	.upperNavi li {
		width: 49%;
		box-sizing: border-box;
		font-size: 100%;
	}
}

/* スマホ以外 */
@media (min-width: 768px) {
	.upperNavi li a.menu-selected {
		font-weight: bold;
	}
}

/* BOTTOM
--------------------------------------*/
.bottomNavi {
	margin-bottom: 50px;
}
.bottomNavi ul {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.bottomNavi li {
	list-style-type: none !important;
	padding: 0;
	margin-bottom: 10px;
}
body.column1 .bottomNavi li:before,
body.column2 .bottomNavi li:before {
	display: none;
}
.bottomNavi li a,
.bottomNavi li div {
	display: block;
	padding: 10px 15px;
	height: 100%;
	position: relative;
	margin: 0 10px 0;
}
.bottomNavi li a::before,
.bottomNavi li div::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: skew(-15deg);
	border: 1px solid;
}
/* スマホのみ */
@media (max-width: 767px) {
	.bottomNavi ul {
		justify-content: center;
	}
	.bottomNavi li {
		width: 49%;
		box-sizing: border-box;
		font-size: 100%;
	}
}

/* スマホ以外 */
@media (min-width: 768px) {
	.bottomNavi li a.menu-selected {
		font-weight: bold;
	}
}

/* SIDE（2カラム）
--------------------------------------*/
/* 全階層 */
body.column2 .sideNavi,
body.column2 .rightNavi {
	margin-bottom: 50px;
}
body.column2 .sideNavi ul li,
body.column2 .rightNavi ul li {
	padding: 0;
}
body.column2 .sideNavi ul li:before,
body.column2 .rightNavi ul li:before {
	display: none;
}
.column2 .sideNavi ul li a,
.column2 .rightNavi ul li a {
	line-height: 1;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.column2 .sideNavi ul li a:hover,
.column2 .rightNavi ul li a:hover {
	opacity: 0.6;
}
/* 第1階層 */
.column2 .sideNavi .boxBottom > ul,
.column2 .rightNavi .boxBottom > ul {
	
}
.column2 .sideNavi .boxBottom > ul > li,
.column2 .rightNavi .boxBottom > ul > li {
	border: 3px solid;
	margin-bottom: 8px;
}
.column2 .sideNavi .boxBottom > ul > li > a,
.column2 .rightNavi .boxBottom > ul > li > a {
	position: relative;
	padding-left: 25px;
}
.column2 .sideNavi .boxBottom > ul > li > a:before,
.column2 .rightNavi .boxBottom > ul > li > a:before {
	position: absolute;
	content: "";
	top: 25%;
	left: 10px;
	display: block;
	width: 2px;
	height: 50%;
	transform: rotate(15deg);
}
/* 第2階層 */
.column2 .sideNavi .boxBottom > ul > li > ul > li,
.column2 .rightNavi .boxBottom > ul > li > ul > li {
}
.column2 .sideNavi .boxBottom > ul > li > ul > li > a,
.column2 .rightNavi .boxBottom > ul > li > ul > li > a {
	position: relative;
	font-size: .875rem;
	padding-left: 35px;
}
.column2 .sideNavi .boxBottom > ul > li > ul > li > a:before,
.column2 .rightNavi .boxBottom > ul > li > ul > li > a:before {
	position: absolute;
	content: "\f0da";
	top: calc(50% - 7px);
	left: 20px;
	width: 14px;
	height: 14px;
	display: inline-block;
	font-family: FontAwesome;
}
/* 第3階層 */
.column2 .sideNavi .boxBottom > ul > li > ul > li > ul > li,
.column2 .rightNavi .boxBottom > ul > li > ul > li > ul > li {
}
.column2 .sideNavi .boxBottom > ul > li > ul > li > ul > li > a,
.column2 .rightNavi .boxBottom > ul > li > ul > li > ul > li > a {
	position: relative;
	font-size: .75rem;
	padding-left: 45px;
}
.column2 .sideNavi .boxBottom > ul > li > ul > li > ul > li > a:before,
.column2 .rightNavi .boxBottom > ul > li > ul > li > ul > li > a:before {
	position: absolute;
	content: "\f105";
	top: calc(50% - 6px);
	left: 35px;
	width: 12px;
	height: 12px;
	display: inline-block;
	font-family: FontAwesome;
}
/* 第4階層 */
.column2 .sideNavi .boxBottom > ul > li > ul > li > ul > li > ul,
.column2 .rightNavi .boxBottom > ul > li > ul > li > ul > li > ul {
	display: none;
}

/* OPT
--------------------------------------*/
/* 全階層 */
#opt .naviBox {
	margin-bottom: 50px;
}
#opt .naviBox ul li {
	padding: 0;
}
#opt .naviBox ul li:before {
	display: none;
}
#opt .naviBox ul li a {
	line-height: 1;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
#opt .naviBox ul li a:hover {
	opacity: 0.6;
}
/* 第1階層 */
#opt .naviBox .boxBottom > ul {
	
}
#opt .naviBox .boxBottom > ul > li {
	border: 3px solid;
	margin-bottom: 8px;
}
#opt .naviBox .boxBottom > ul > li > a {
	position: relative;
	padding-left: 25px;
}
#opt .naviBox .boxBottom > ul > li > a:before {
	position: absolute;
	content: "";
	top: 25%;
	left: 10px;
	display: block;
	width: 2px;
	height: 50%;
	transform: rotate(15deg);
}
/* 第2階層 */
#opt .naviBox .boxBottom > ul > li > ul > li {
}
#opt .naviBox .boxBottom > ul > li > ul > li > a {
	position: relative;
	font-size: .875rem;
	padding-left: 35px;
}
#opt .naviBox .boxBottom > ul > li > ul > li > a:before {
	position: absolute;
	content: "\f0da";
	top: calc(50% - 7px);
	left: 20px;
	width: 14px;
	height: 14px;
	display: inline-block;
	font-family: FontAwesome;
}
/* 第3階層 */
#opt .naviBox .boxBottom > ul > li > ul > li > ul > li {
}
#opt .naviBox .boxBottom > ul > li > ul > li > ul > li > a {
	position: relative;
	font-size: .75rem;
	padding-left: 45px;
}
#opt .naviBox .boxBottom > ul > li > ul > li > ul > li > a:before {
	position: absolute;
	content: "\f105";
	top: calc(50% - 6px);
	left: 35px;
	width: 12px;
	height: 12px;
	display: inline-block;
	font-family: FontAwesome;
}
/* 第4階層 */
#opt .naviBox .boxBottom > ul > li > ul > li > ul > li > ul {
	display: none;
}

/* FOOTER
--------------------------------------*/
.footerNavi {
	margin-bottom: 50px;
}
.footerNavi ul {
	list-style: outside none none;
	margin-left: -5px;
	padding-left: 0;
}
.footerNavi ul > li {
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
	padding: 0;
	font-size: 97.85%;
}
#footer .footerNavi ul > li:before {
	display: none;
}
.footerNavi ul > li a {
	padding-left: 18px;
	padding-right: 20px;
	color: #333;
}
.footerNavi ul > li a:hover {
	opacity: 0.6;
}
.footerNavi ul > li a:before {
	position: absolute;
	display: inline-block;
	content: "";
	top: calc(50% - 8px);
	left: -2px;
	width: 0px;
	height: 0px;
	border: none;
	border: 8px solid transparent;
	border-radius: 50%;
}
.footerNavi ul > li a:hover:before {
	transform: rotate(45deg);
}
