@charset "utf-8";

/* ---------------------------------------------------------------------------------------- 

	MODULE:catalog-category カテゴリートップ

---------------------------------------------------------------------------------------- */

.catalogCategory .pageLink ul li strong {
  display: block;
  line-height:  1.42857143;
  margin: 5px 0;
  padding: 6px 12px;
}

.displayNumber {
    margin-bottom: 10px;
}

.catalogBoxCatchNo .row {
    flex-wrap: wrap;
}

.catalogBoxCatchNo .col-xs-12 {
    height: auto !important;
    margin-bottom: 30px;
}

.catalogBoxCatchNo .col-xs-12:nth-child(4n+1) {
    clear: both;
}

.catalogBoxCatchNo img {
    margin-bottom: 10px;
}

div.itemTitle {
    margin-bottom: 2px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .catalogBoxCatchNo .col-xs-12 {
        margin-bottom: 15px;
    }
    .catalogBoxCatchNo img {
        float: left;
        width: 150px;
        margin: 0 15px 0 0;
    }
    .catalogBoxCatchNo .itemTitle,
    .catalogBoxCatchNo .itemCondition,
    .catalogBoxCatchNo .itemPrice {
        width: calc( 100% - 165px );
        margin-left: 165px;
    }
    
  .shopSearch .pageLink ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shopSearch .pageLink ul li.firstBu,
  .shopSearch .pageLink ul li.lastBu,
  .shopSearch .pageLink ul li.prevBu,
  .shopSearch .pageLink ul li.nextBu {
    flex-basis: auto !important;
    height: 1rem;
    overflow: hidden;
    width: 1rem;
  }
  .shopSearch .pageLink ul li.firstBu,
  .shopSearch .pageLink ul li.prevBu {
    margin-right: 5px;
  }
  .shopSearch .pageLink ul li.lastBu,
  .shopSearch .pageLink ul li.nextBu {
    margin-left: 5px;
    position: relative;
  }
  .shopSearch .pageLink ul li.lastBu a,
  .shopSearch .pageLink ul li.nextBu a {
    line-height: 1;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    white-space: normal;
  }
}

.catalogBoxCatchYes .row {
    margin-bottom: 15px;
}

.catalogBoxCatchYes .row > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.catalogBoxCatchYes .itemPrice {
    margin-bottom: 2px;
}

.catalogBoxCatchYes .col-xs-12 p {
    margin-bottom: 0;
    line-height: 1.5;
}

@media (max-width: 767px) {
    
    .catalogBoxCatchYes .col-xs-12:first-child {
        width: 180px;
    }
    
    .catalogBoxCatchYes .col-xs-12:last-child {
        width: calc( 100% - 180px );
        padding-left: 0;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:catalog-detail 商品詳細

---------------------------------------------------------------------------------------- */

.list-inline {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -5px;
}

.list-inline li {
    width: 16.66666%;
    padding: 5px;
}

.catalogDetailBox .list-inline li:before {
    display: none;
}

@media (max-width: 767px) {
    
    .list-inline li {
        width: 20%;
    }
  
  form .variationInfo table th,
  form .variationInfo table td {
    border-bottom: 1px solid;
    display: table-cell;
    width: auto;
  }
    
}

.purchaseBu {
    text-align: center;
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:cart-show_cart カートの中

---------------------------------------------------------------------------------------- */

@media (max-width: 767px) {
    
    .cartShowCart .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }

    .cartShowTable {
        word-break: normal;
    }

    .cartShowTable tr:first-child {
        display: none;
    }

    .cartUnitTd:before { content: '単価：';}
    .cartNumTd:before { content: '数量：';}
    .cartPriceTd:before { content: '金額：';}

    .cartShowTable td {
        display: block;
        width: 100%;
    }

    table.cartShowTable .cartNameTd {
        padding-bottom: 0;
        border-bottom: none;
        font-weight: bold;
    }

    table.cartShowTable .cartUnitTd {
        padding-bottom: 0;
        border-bottom: none;
        text-align: left;
    }

    table.cartShowTable .cartNumTd {
        padding-bottom: 0;
        border-bottom: none;
        text-align: left;
    }

    table.cartShowTable .cartPriceTd {
        padding-bottom: 0;
        border-bottom: none;
        text-align: left;
    }

    table.cartShowTable .cartDeleteTd {
        text-align: right;
    }

    table.cartShowTable .cartNumTd form {
        display: inline-block;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:cart-login ショッピングカート（会員ログイン・登録画面）

---------------------------------------------------------------------------------------- */

.cartIsUserRegist {
    margin-bottom: 50px;
}

.cartIsUserRegist input[type="text"],
.cartIsUserRegist input[type="password"] {
    width: 100%;
}

@media (max-width: 767px) {
    
    .cartIsUserRegist {
        margin-bottom: 40px;
    }
    
    .cartIsUserRegist .scroll_table,
    .cartCustomer .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }

    .cartIsUserRegist table,
    .cartCustomer table {
        word-break: normal;
    }
    
    .cartIsUserRegist input[type="text"],
    .cartCustomer input[type="text"],
    .cartCustomer input[type="email"] {
         width: 100%;
    }
    
}

@media (max-width: 767px) {
    
    .cartRegistConfirm .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .cartRegistConfirm table {
        word-break: normal;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:cart-payment レジ（お支払い・配送の指定画面）

---------------------------------------------------------------------------------------- */

.cartPayment .cartBikoBox textarea {
    width: 100% !important;
    max-width: 100%;
}

.cartPayment .cartDelivBox li:before {
    display: none;
}

.cartPayment .cartPointBox table th {
    width: 25%;
    text-align: left;
}

.cartPayment .cartPointBox table td {
    width: 75%;
    text-align: left;
}

.inputtable {
    border: none;
}

.inputtable th {
    border-left: none;
}

.inputtable td {
    border-left: none;
    border-right: none;
}

@media (max-width: 767px) {
    
    .cartPaymentBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .cartPaymentBox table {
        word-break: normal;
    }
    
    .cartPayment .cartDelivBox li:before {
        display: none;
    }
    
    .cartDelivBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .cartDelivBox table {
        word-break: normal;
        border-bottom: none;
    }
    
    .cartDelivBox tr:first-child {
        display: none;
    }
    
    .cartDelivBox tr td:last-child {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    
    .cartReceiptBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .cartReceiptBox table {
        word-break: normal;
    }
    
    .cartReceiptBox input[type="text"] {
        width: 100%;
    }
    
    .cartPointBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .cartPointBox table {
        word-break: normal;
    }
    
    .cartPayment .cartPointBox table th,
    .cartPayment .cartPointBox table td {
        display: block;
        width: 100%;
        text-align: left;
    }
    
}

#gmopg_Input h4 {
    display: block;
    margin-bottom: 8px;
    font-size: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:cart-confirm レジ（確認画面）

---------------------------------------------------------------------------------------- */

form .cartShowBox table td {
    width: auto;
}

.cartShowBox .cartShowTable .cartName { width: 55%;}
.cartShowBox .cartShowTable .cartUnit { width: 15%;}
.cartShowBox .cartShowTable .cartNum { width: 15%;}
.cartShowBox .cartShowTable .cartPrice { width: 15%;}

.cartConfirm .cartPointBox table th,
.cartConfirm .cartPointBox table td {
    text-align: left;
}

@media (max-width: 767px) {
    
    .cartShowBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .cartConfirm .cartShowTable .cartPriceTd {
        padding-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    
    .cartConfirm .cartShowTable {
        border-bottom: none;
    }
    
    .cartShowTable .cartTrFooter th {
        border-top: none;
    }
    
    .cartShowTable .cartTrFooter th,
    .cartShowTable .cartTrFooter td {
        text-align: left;
    }
    
    .cartShowTable .cartTrFooter th {
        border-top: none;
    }
    
    .cartShowTable .cartTrFooter td {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    
    .cartConfirm .cartPointBox table {
        border-bottom: none;
    }
    
    .cartConfirm .cartPointBox table th,
    .cartConfirm .cartPointBox table td {
        width: 100%;
        text-align: left;
    }
    
    .cartConfirm .cartPointBox table th {
        border-top: none;
    }
    
    .cartConfirm .cartPointBox table td {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user-regist 会員ページ（登録画面）

---------------------------------------------------------------------------------------- */

.userRegist .scroll_table {
    overflow: hidden;
    margin-bottom: 0;
}

.userRegist table {
    word-break: normal;
}

.userRegist table input[type="text"],
.userRegist table input[type="email"] {
    width: 100%;
}

.cartRuleBodyBox {
    max-height: 100%;
}

.userRegist .pageLink ul {
    display: block;
}

.userRegist .pageLink li {
    padding: 0 10px;
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user-confirm 会員ページ（確認画面）

---------------------------------------------------------------------------------------- */

.userConfirm .scroll_table {
    overflow: hidden;
    margin-bottom: 0;
}

.userConfirm table {
    word-break: normal;
}

.userConfirm .pageLink ul {
    display: block;
}

.userConfirm .pageLink li {
    padding: 0 10px;
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:shop-law 特定商取引に関する法律に基づく表記

---------------------------------------------------------------------------------------- */

.shopLawTtl + .scroll_table {
    overflow: hidden;
}

.shopLawTtl + .scroll_table .shopLaw {
    word-break: normal;
}

@media (max-width: 767px) {
    
    .shopLaw th {
        display: block;
        width: 100%;
        border-bottom: none;
    }
    
    .shopLaw td {
        display: block;
        width: 100%;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:shop_search 商品検索結果

---------------------------------------------------------------------------------------- */

.shopSearch .col-xs-12 {
    margin-bottom: 30px;
}

.shopSearch .col-xs-12:nth-child(4n+1) {
    clear: both;
}

.shopSearch .col-xs-12 img {
    margin-bottom: 10px;
}

.shopSearch .col-xs-12 > div + div {
    margin-bottom: 2px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    
    .shopSearch .col-xs-12 img {
        float: left;
        width: 150px;
        margin: 0 15px 0 0;
    }
    
    .shopSearch .col-xs-12 > div + div {
        width: calc( 100% - 165px );
        margin-left: 165px;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user_login-get_form 会員ページ（ログイン前）

---------------------------------------------------------------------------------------- */

.userMypageLogin .scroll_table {
    overflow: hidden;
    margin-bottom: 0;
}

.userMypageLogin table {
    word-break: normal;
}

.userMypageLogin table input[type="text"],
.userMypageLogin table input[type="password"] {
    width: 100%;
}

.userMypageLogin .pageLink {
    margin-top: 0;
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user-history 会員ページ（購入履歴）

---------------------------------------------------------------------------------------- */

@media (max-width: 767px) {
    
    .userMypageHistory .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }

    .userMypageHistory table {
        word-break: normal;
    }
    
    .userMypageHistory tr:first-child {
        display: none;
    }
    
     .userMypageHistory td {
         display: block;
         width: 100%;
         border-bottom: none;
    }
    
    .userMypageHistory td:first-child[rowspan] {
        font-weight: bold;
    }
    
    .userMypageHistory td:last-child {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        text-align: right;
    }

}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user-point 会員ページ（ポイントの確認）

---------------------------------------------------------------------------------------- */

@media (max-width: 767px) {
    
    .userMypagePointBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }

    .userMypagePointBox table {
        word-break: normal;
    }
    
    .userMypagePointBox th {
         display: block;
         width: 100%;
         border-bottom: none;
    }
    
    .userMypagePointBox td {
         display: block;
         width: 100%;
    }
    
    .userMypagePointHistoryBox .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .userMypagePointHistoryBox table {
        word-break: normal;
    }
    
    .userMypagePointHistoryBox tr:first-child {
        display: none;
    }
    
    .userMypagePointHistoryBox td {
        display: block;
        width: 100%;
        border-bottom: none;
        text-align: left;
    }
    
    .userMypagePointHistoryBox td:first-child {
        font-weight: bold;
    }
    
    .userMypagePointHistoryBox td:last-child {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    
    .userMypagePointHistoryBox td:nth-child(1):before { content: 'ご利用日時：';}
    .userMypagePointHistoryBox td:nth-child(2):before { content: 'ご利用区分：';}
    .userMypagePointHistoryBox td:nth-child(3):before { content: '獲得/ご利用ポイント：';}
    .userMypagePointHistoryBox td:nth-child(4):before { content: '残高：';}
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user-update 会員ページ（登録情報変更）

---------------------------------------------------------------------------------------- */

@media (max-width: 767px) {
    
    .userUpdate .scroll_table {
        overflow: hidden;
        margin-bottom: 0;
    }

    .userUpdate table {
        word-break: normal;
    }
    
    .userUpdate input[type="text"],
    .userUpdate input[type="email"] {
         width: 100%;
    }
    
    .userUpdate .pageLink {
        margin-top: 0;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	MODULE:user-reminde パスワード再発行

---------------------------------------------------------------------------------------- */

.userReminder .scroll_table {
    overflow: hidden;
    margin-bottom: 0;
}

.userReminder table {
    word-break: normal;
}

.userReminder table input[type="text"] {
    width: 100%;
}

.userReminder .pageLink {
    margin-top: 0;
}


/* ---------------------------------------------------------------------------------------- 

	ピックアップ商品 MODULE:catalog_picup

---------------------------------------------------------------------------------------- */

.catalog_picup .row {
    flex-wrap: wrap;
}

.catalog_picup .col-xs-12 {
    margin-bottom: 30px;
}

.catalog_picup .col-xs-12:nth-child(4n+1) {
    clear: both;
}

.catalog_picup .col-xs-12 img {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

.catalog_picup .col-xs-12 a + a {
    display: block;
    margin-bottom: 2px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    
    .catalog_picup .col-xs-12 {
        margin-bottom: 15px;
    }

    .catalog_picup .col-xs-12 img {
        float: left;
        width: 150px;
        margin: 0 15px 0 0;
    }

    .catalog_picup .col-xs-12 a + a,
    .catalog_picup .col-xs-12 .price {
        width: calc( 100% - 165px );
        margin-left: 165px;
    }
    
}


.column1 #side .catalog_picup .row,
.column1 #right .catalog_picup .row {
    margin: 0 -15px;
}

.column1 #side .catalog_picup .row .col-xs-12,
.column1 #right .catalog_picup .row .col-xs-12 {
    width: 25%;
}

.column1 #side .catalog_picup .row .col-xs-12:nth-child(4n+1),
.column1 #right .catalog_picup .row .col-xs-12:nth-child(4n+1) {
    clear: both;
}

@media (max-width: 767px) {
    
    .column1 #side .catalog_picup .row .col-xs-12,
    .column1 #right .catalog_picup .row .col-xs-12 {
        width: 100%;
    }
    
}

#opt .catalog_picup .col-xs-12 {
    margin-bottom: 15px;
}

#opt .catalog_picup .col-xs-12 img {
    float: left;
    width: 150px;
    margin: 0 15px 0 0;
}

#opt .catalog_picup .col-xs-12 a + a,
#opt .catalog_picup .col-xs-12 .price {
    width: calc( 100% - 165px );
    margin-left: 165px;
}

#sidebox .catalog_picup .row .col-xs-12 {
     width: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	ランダム商品 MODULE:catalog_random-get_random

---------------------------------------------------------------------------------------- */

.catalog_random .row {
    flex-wrap: wrap;
}

.catalog_random .col-xs-12 {
    margin-bottom: 30px;
}

.catalog_random .col-xs-12:nth-child(4n+1) {
    clear: both;
}

.catalog_random .col-xs-12 a {
    display: block;
    margin-bottom: 2px;
    line-height: 1.5;
}

.catalog_random .col-xs-12 img {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

@media (max-width: 767px) {
    
    .catalog_random .col-xs-12 {
        margin-bottom: 15px;
    }

    .catalog_random .col-xs-12 img {
        float: left;
        width: 150px;
        margin: 0 15px 0 0;
    }

    .catalog_random .col-xs-12 .price {
        width: calc( 100% - 165px );
        margin-left: 165px;
    }
    
}

.column1 #side .catalog_random .row,
.column1 #right .catalog_random .row {
    margin: 0 -15px;
}

.column1 #side .catalog_random .row .col-xs-12,
.column1 #right .catalog_random .row .col-xs-12 {
    width: 25%;
}

.column1 #side .catalog_random .row .col-xs-12:nth-child(4n+1),
.column1 #right .catalog_random .row .col-xs-12:nth-child(4n+1) {
    clear: both;
}

@media (max-width: 767px) {
    
    .column1 #side .catalog_random .row .col-xs-12,
    .column1 #right .catalog_random .row .col-xs-12 {
        width: 100%;
    }
    
}

#opt .catalog_random .col-xs-12 {
    margin-bottom: 15px;
}

#opt .catalog_random .col-xs-12 img {
    float: left;
    width: 150px;
    margin: 0 15px 0 0;
}

#opt .catalog_random .col-xs-12 .price {
    width: calc( 100% - 165px );
    margin-left: 165px;
}

#sidebox .catalog_random .row .col-xs-12 {
     width: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	商品カテゴリリスト MODULE:catalog_index

---------------------------------------------------------------------------------------- */

div.categoryIndex {
    margin-top: 5px;
    margin-bottom: 50px;
}

div.categoryIndex ul {
    display: block;
    margin: 0;
}

div.categoryIndex li,
#opt div.categoryIndex ul li,
#sidebox div.categoryIndex ul li {
    position: relative;
    margin-bottom: 0;
    padding-left: 10px;
}

div.categoryIndex li a,
#opt div.categoryIndex ul li a,
#sidebox div.categoryIndex ul li a {
    position: static;
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

div.categoryIndex li a:before {
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-radius: 50%;
    transform: skew(0);
}

div.categoryIndex ul li ul {
    padding-left: 20px;
}

@media (max-width: 767px) {
    
    div.categoryIndex li {
        width: 100%;
    }
    
}


/* ---------------------------------------------------------------------------------------- 

	新着商品 MODULE:catalog_new

---------------------------------------------------------------------------------------- */

.catalog_new .row {
    flex-wrap: wrap;
}

.catalog_new .col-xs-12 {
    margin-bottom: 30px;
}

.catalog_new .col-xs-12:nth-child(4n+1) {
    clear: both;
}

.catalog_new .col-xs-12 a {
    display: block;
    margin-bottom: 2px;
    line-height: 1.5;
}

.catalog_new .col-xs-12 img {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

@media (max-width: 767px) {
    
    .catalog_new .col-xs-12 {
        margin-bottom: 15px;
    }

    .catalog_new .col-xs-12 img {
        float: left;
        width: 150px;
        margin: 0 15px 0 0;
    }

    .catalog_new .col-xs-12 .price {
        width: calc( 100% - 165px );
        margin-left: 165px;
    }
    
}

.column1 #side .catalog_new .row,
.column1 #right .catalog_new .row {
    margin: 0 -15px;
}

.column1 #side .catalog_new .row .col-xs-12,
.column1 #right .catalog_new .row .col-xs-12 {
    width: 25%;
}

.column1 #side .catalog_new .row .col-xs-12:nth-child(4n+1),
.column1 #right .catalog_new .row .col-xs-12:nth-child(4n+1) {
    clear: both;
}

@media (max-width: 767px) {
    
    .column1 #side .catalog_new .row .col-xs-12,
    .column1 #right .catalog_new .row .col-xs-12 {
        width: 100%;
    }
    
}

#opt .catalog_new .col-xs-12 {
    margin-bottom: 15px;
}

#opt .catalog_new .col-xs-12 img {
    float: left;
    width: 150px;
    margin: 0 15px 0 0;
}

#opt .catalog_new .col-xs-12 .price {
    width: calc( 100% - 165px );
    margin-left: 165px;
}

#sidebox .catalog_new .row .col-xs-12 {
     width: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	人気商品 MODULE:catalog_popular

---------------------------------------------------------------------------------------- */

.catalog_popular .row {
    flex-wrap: wrap;
}

.catalog_popular .col-xs-12 {
    margin-bottom: 30px;
}

.catalog_popular .col-xs-12:nth-child(4n+1) {
    clear: both;
}

.catalog_popular .col-xs-12 a {
    display: block;
    margin-bottom: 2px;
    line-height: 1.5;
}

.catalog_popular .col-xs-12 img {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}

@media (max-width: 767px) {
    
    .catalog_popular .col-xs-12 {
        margin-bottom: 15px;
    }

    .catalog_popular .col-xs-12 img {
        float: left;
        width: 150px;
        margin: 0 15px 0 0;
    }

    .catalog_popular .col-xs-12 .price {
        width: calc( 100% - 165px );
        margin-left: 165px;
    }
    
}

.column1 #side .catalog_popular .row,
.column1 #right .catalog_popular .row {
    margin: 0 -15px;
}

.column1 #side .catalog_popular .row .col-xs-12,
.column1 #right .catalog_popular .row .col-xs-12 {
    width: 25%;
}

.column1 #side .catalog_popular .row .col-xs-12:nth-child(4n+1),
.column1 #right .catalog_popular .row .col-xs-12:nth-child(4n+1) {
    clear: both;
}

@media (max-width: 767px) {
    
    .column1 #side .catalog_popular .row .col-xs-12,
    .column1 #right .catalog_popular .row .col-xs-12 {
        width: 100%;
    }
    
}

#opt .catalog_popular .col-xs-12 {
    margin-bottom: 15px;
}

#opt .catalog_popular .col-xs-12 img {
    float: left;
    width: 150px;
    margin: 0 15px 0 0;
}

#opt .catalog_popular .col-xs-12 .price {
    width: calc( 100% - 165px );
    margin-left: 165px;
}

#sidebox .catalog_popular .row .col-xs-12 {
     width: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	商品検索フォーム MODULE:catalog_search

---------------------------------------------------------------------------------------- */

.catalog-search,
#EDIT-catalog_search- {
    width: 100%;
}

.catalog-search select {
    display: block;
    width: auto;
}

.catalog-search input[type="text"] {
    display: inline-block;
    width: calc(100% - 75px);
}

.catalog-search .searchLink {
    display: inline-block;
    width: 65px;
    margin-top: 0;
    text-align: right;
}

.catalog-search br {
    display: none;
}


/* ---------------------------------------------------------------------------------------- 

	カートパーツ MODULE:cart_parts-js

---------------------------------------------------------------------------------------- */

.cartPartsBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}

.cartPartsBox > div {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px;
    line-height: 1.8;
}

.cartPartsLook a {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    
    .cartPartsBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .cartPartsBox > div {
        width: 100%;
    }
    
    .cartPartsBox .cartPartsLook {
        margin-top: 8px;
        text-align: center;
    }
    
}

#opt .cartPartsBox,
#sidebox .cartPartsBox {
    flex-direction: column;
}

#opt .cartPartsBox > div,
#sidebox .cartPartsBox > div {
    width: 100%;
}

#opt .cartPartsBox .pageLink,
#sidebox .cartPartsBox .pageLink {
    margin-top: 0;
}

#opt .cartPartsBox .cartPartsLook,
#sidebox .cartPartsBox .cartPartsLook {
    margin-top: 8px;
    text-align: center;
}


/* ---------------------------------------------------------------------------------------- 

	購入手続きガイド MODULE:cart_guide

---------------------------------------------------------------------------------------- */

.cartGuide .cartGuideBox ol,
#side .cartGuide .cartGuideBox ol,
#right .cartGuide .cartGuideBox ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
    padding: 0;
    list-style-position: inside;
}

.cartGuideBox li {
    padding: 0 15px;
}

@media (max-width: 767px) {
    
    .cartGuide .cartGuideBox ol {
        flex-direction: column;
        align-items: flex-start;
    }

    .cartGuideBox li {
        width: 100%;
    }
    
}

#opt .cartGuide .cartGuideBox ol {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

#opt .cartGuideBox li {
    width: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	会員ログインボックス-ログイン後 MODULE:user_login-menu

---------------------------------------------------------------------------------------- */

.userLoginMenu .clearfix {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}

.userLoginMenu .clearfix > div {
    padding: 5px 15px;
}

@media (max-width: 767px) {
    
    .userLoginMenu .clearfix {
        flex-direction: column;
        align-items: flex-start;
    }

    .userLoginMenu .clearfix > div {
        width: 100%;
    }
    
}

#opt .userLoginMenu .clearfix {
    display: block;
    margin: 0;
}

#opt .userLoginMenu ul {
    margin-bottom: 10px;
}

#opt .userLoginMenu .pageLink {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#opt .userLoginMenu .pageLink a {
    margin-top: 0;
    margin-bottom: 0;
}

#side .userLoginMenu .clearfix,
#right .userLoginMenu .clearfix {
    margin-left: 0;
    margin-right: 0;
}

#side .userLoginMenu ul,
#right .userLoginMenu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

#side .userLoginMenu li,
#right .userLoginMenu li {
    padding-right: 30px;
}

#side .userLoginMenu li:last-child,
#right .userLoginMenu li:last-child {
    padding-right: 0;
}

#side .userLoginMenu .pageLink,
#right .userLoginMenu .pageLink {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    
    #side .userLoginMenu ul,
    #right .userLoginMenu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #side .userLoginMenu li,
    #right .userLoginMenu li {
        padding-right: 0;
    }
    
}

#sidebox .userLoginMenu ul {
    display: block;
}

#sidebox .userLoginMenu li {
    padding-right: 0;
}

#sidebox .userLoginMenu .pageLink {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


/* ---------------------------------------------------------------------------------------- 

	会員ログインボックス-ログイン前 MODULE:user_login-get_form

---------------------------------------------------------------------------------------- */

.userLoginGetForm dl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.userLoginGetForm dt {
    width: 10em;
}

.userLoginGetForm dd {
    width: calc( 100% - 10em );
}

.userLoginGetForm .loginLink {
    width: 100%;
    text-align: center;
}

.userLoginGetForm input[type="text"],
.userLoginGetForm input[type="password"] {
    width: 100%;
}

@media (max-width: 767px) {
    
    .userLoginGetForm dt,
    .userLoginGetForm dd {
        width: 100%;
    }
    
    .userLoginGetForm .loginLink {
        margin-bottom: 15px;
    }
    
}

#opt .userLoginGetForm dt,
#opt .userLoginGetForm dd {
    width: 100%;
}
    
#opt .userLoginGetForm .loginLink,
#opt .userLoginGetForm .pageLink {
     margin-bottom: 15px;
}

#sidebox .userLoginGetForm dt,
#sidebox .userLoginGetForm dd {
    width: 100%;
}
    
#sidebox .userLoginGetForm .loginLink,
#sidebox .userLoginGetForm .pageLink {
     margin-bottom: 15px;
}

#header #EDIT-user_login-,
#header #user_login_loader {
    display: block;
    width: 100%;
}


/* ---------------------------------------------------------------------------------------- 

	btn

---------------------------------------------------------------------------------------- */

.cartShowCart .pageLink,
.cartIsUserRegist .pageLink,
.cartRegistConfirm .pageLink,
.cartPayment .pageLink,
.cartConfirm .pageLink {
    margin: 0;
}

.cartShowCart .pageLink ul,
.cartIsUserRegist .pageLink ul,
.cartCustomer .pageLink ul,
.cartRegistConfirm .pageLink ul,
.cartPayment .pageLink ul,
.cartConfirm .pageLink ul {
    display: block;
    margin: 0 -10px;
}

.cartShowCart .pageLink li,
.cartIsUserRegist .pageLink li,
.cartCustomer .pageLink li,
.cartRegistConfirm .pageLink li,
.cartPayment .pageLink li,
.cartConfirm .pageLink li {
    padding: 0 10px;
}

.cartShowCart .pageLink input[type="button"],
.cartIsUserRegist .pageLink input[type="button"],
.cartRegistConfirm input[type="button"],
.cartPayment input[type="button"],
.cartConfirm input[type="button"] {
    border-radius: 25px;
    transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
}

.cartShowCart .pageLink input[type="button"]:hover,
.cartIsUserRegist .pageLink input[type="button"]:hover,
.cartRegistConfirm input[type="button"]:hover,
.cartPayment input[type="button"]:hover,
.cartConfirm input[type="button"]:hover {
    opacity: 0.6;
}

.cartPartsLook a {
    transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
}

.cartPartsLook a:hover {
    opacity: 0.6;
}


/* ---------------------------------------------------------------------------------------- 

	color

---------------------------------------------------------------------------------------- */

#header .userLoginGetForm input[type="submit"],
#header .catalog-search input[type="submit"] {
    background-color: #fff;
}

#header .userLoginGetForm ul li:before {
    border-color: #fff;
}

div.categoryIndex li a:before {
    border-color: #040050;
}

#header .userLoginGetForm input[type="submit"],
#header .catalog-search input[type="submit"] {
    color: #040050;
}

div.categoryIndex li a,
div.categoryIndex li {
    color: #333;
}

@media (max-width: 767px) {
    
    .userMypageHistory td:first-child[rowspan] {
        background-color: rgba(4, 0, 80, 0.1);
    }
    
    .userMypageHistory td:last-child,
    .userMypagePointHistoryBox td:last-child,
    .cartDelivBox tr td:last-child,
    .cartConfirm .cartShowTable .cartPriceTd,
    .cartShowTable .cartTrFooter td,
    .cartConfirm .cartPointBox table td {
        border-bottom-color: #ccccdc;
    }

}

